{% extends 'base.html' %} {% block content %}

<style>
  .margin-custom {
    margin-left: 10%;
  }
</style>

<a href="{% url 'home' %}" class="btn btn-primary mb-3">← BACK TO HOME</a>
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card card-custom p-4">
      <h2 class="text-center mb-3">Login</h2>

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input
          type="text"
          name="username"
          class="form-control mb-3"
          placeholder="Username"
        />
        <input
          type="password"
          name="password"
          class="form-control mb-3"
          placeholder="Password"
        />

        <button class="btn btn-primary w-100" type="submit">Login</button>
      </form>

      <p class="text-center mt-3">
        Don't have account? <a href="{% url 'register' %}">Register here</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
